@import './variables.scss';
@import './helpers/responsive';
@import "./helpers/fontawesome/fontawesome.scss";
@import "./helpers/fontawesome/solid.scss";
@import "./helpers/fontawesome/brands.scss";

* {
  text-rendering: optimizeLegibility;
}

a {
  color: $theme-dark;
  transition: color 0.3s ease;

  &:hover {
    color: $theme;

    @include screen-size('small') {
      background-color: transparent;
    }
  }

  &:active {
    color: $theme;

  }
}

h1 {
  margin-bottom: $theme-padding;
  color: $theme-black;
  font-weight: 300;
}

.block-img {
  margin: 0 auto;
  max-width: 600px;

  img {
    width: 100%;
  }
}

p {
  font-size: 16px;
  line-height: 20px;
  max-width: 80ch;
  padding-bottom: $theme-padding;
  color: $theme-black;
}