$main: 'Work Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$theme-dark: #00a357;
$theme: #00ff6a;
$theme-light: #d8ffe0;
$theme-padding: 20px;
$logo-height: 70px;